<table class="table table-bordered">
<tr>
	<td></td>
	<td>1コマ目</td>
	<td>2コマ目</td>
	<td>3コマ目</td>
	<td>4コマ目</td>
	<td>5コマ目</td>
</tr>
<tr>
	<td>中奥</td>
	<td>講義</td>
	<td>講義</td>
	<td>勤務</td>
	<td>勤務</td>
	<td></td>
</tr>
</table>